@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root,
:root[data-theme="light"] {
  /* TEXT */
  --font: "Inter";

  /* SETTINGS */
  color-scheme: light;

  background: var(--page-color-bg);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --control-slow-duration: 0ms;
    --control-normal-duration: 0ms;
    --control-fast-duration: 0ms;
    --control-faster-duration: 0ms;
  }
}

html,
body {
  font-family: var(--font), sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}
