:root,
:root[data-theme='light'] {
  /* TEXT */
  --font: 'Segoe UI';

  /* LAYOUT */
  --header-height: 60px;
  --footer-height: 80px;
  --technologies-column-count: 4;

  /* SETTINGS */
  color-scheme: light;

  background: var(--page-color-bg);

}

@media (prefers-reduced-motion: reduce) {
  :root {
    --control-slow-duration: 0ms;
    --control-normal-duration: 0ms;
    --control-fast-duration: 0ms;
    --control-faster-duration: 0ms;
  }
}

html,
body {
  font-family: var(--font), sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

#product,
#about,
#contacts {
  scroll-margin-top: var(--header-height);
}