.footer {
  position: relative;

  color: var(--color-text-tertiary);
  z-index: 1;

  margin-top: auto;
  padding: 36px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;

  transition: background-color 0.5s ease,
  color 0.5s ease;
}

.footer__left {
  display: flex;
  justify-content: flex-start;
}

.theme-icon,
.language-icon {
  width: 15px;
  height: 15px;

  color: var(--color-text-primary);
}

.footer__right {
  display: flex;
  justify-content: flex-end;
}

.footer__copyright {
  display: flex;
  margin: 0;

  font-size: 13px;
  font-weight: 400;

  justify-content: flex-end;

  transition: color 0.5s ease;
}

@media (max-width: 1024px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .footer__left {
    justify-self: center;
  }

  .footer__right {
    justify-content: center;
  }
}