.footer {
  position: relative;
  height: var(--footer-height);

  background-color: var(--);
  color: black;
  z-index: 1;

  margin-top: auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;

  transition:
          background-color 0.5s ease,
          color 0.5s ease;
}

.footer__left {
  display: flex;
  justify-content: flex-start;
}

.theme-icon,
.language-icon {
  width: 15px;
  height: 15px;

  color: black;
}

.footer__right {
  display: flex;
  justify-content: flex-end;
}

.footer__copyright {
  display: flex;
  margin: 0;

  font-size: 13px;
  font-weight: 400;
  color: black;

  justify-content: flex-end;

  transition: color 0.5s ease;
}