:root {
  --button-border-radius: 4px;
  --control-corner-radius: 4px;
  --overlay-corner-radius: 8px;

  --spacing-default: 24px;
  --inline-spacing-default: 24px;
  --block-spacing-default: 64px;

  --header-height: 56px;
  --footer-height: 56px;
  --technologies-column-count: 4;

  --border-radius: 4px;
}

@media (max-width: 1024px) {
  :root {
    --inline-spacing-default: 16px;
  }
}