.technologies {
  padding: 40px;
}

.technologies__divider {
  margin-bottom: 24px;
}

.technologies__groups {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.technologies__group {
  min-width: 0;
  padding: 24px;

  list-style: none;

  background-color: var(--solid-background-tertiary);
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--card-stroke-default);
}

.technologies__group-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.technologies__group-title {
  margin: 0;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;

  text-align: center;

  color: var(--color-text-primary);
}

.technologies__list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.technologies__card {
  width: 100%;

  flex-direction: row;
  align-items: center;
  gap: 12px;

  padding: 0;

  border-radius: 4px;
  background-color: var(--color-bg);
  box-shadow: 0 0 0 1px var(--card-stroke-default);

  cursor: default;

  overflow: hidden;
}

.technologies__card-link {
  padding: 8px 16px 8px 8px;
  
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
  height: 100%;

  color: inherit;
  text-decoration: none;
}

.technologies__card-icon {
  display: block;
  flex: 0 0 auto;

  width: 24px;
  height: 24px;

  color: var(--color-text-primary);

  user-select: none;
  pointer-events: none;
}

.technologies__card-label {
  color: var(--color-text-primary);

  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .technologies__groups {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .technologies {
    padding: 24px;
  }

  .technologies__groups {
    grid-template-columns: 1fr;
  }
}