.technologies {
  padding: 40px;
}

.technologies__container {
  display: flex;
  align-items: center;

  gap: 10px;

  font-size: 50px;
  font-weight: 500;
}

.technologies__groups {
  padding: 0;

  counter-reset: technology-group;

  list-style: none;
}

.technologies__group {
  counter-increment: technology-group;

  padding: 32px 0;

  list-style: none;
}

.technologies__group-content {
  display: grid;
  grid-template-columns: 190px 1fr;
  gap: 34px;
  align-items: start;
}

.technologies__group-title {
  margin: 9px 0 0;

  font-size: 22px;
  font-weight: 600;
  line-height: 1;

  color: var(--color-text-secondary);
}

.technologies__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.technologies__divider {
  margin-bottom: 24px;
}

.technologies__card {
  flex-direction: row;
  align-items: center;
  gap: 12px;

  padding: 8px 16px 8px 8px;

  border-radius: 4px;
  background-color: var(--solid-background-tertiary);
  box-shadow: 0 0 0 1px var(--card-stroke-default);

  cursor: default;
}

.technologies__card-icon {
  width: 26px;
  height: 26px;

  display: block;
  flex: 0 0 auto;

  user-select: none;
  pointer-events: none;

  color: var(--color-text-primary);
}

.technologies__card-label {
  color: var(--color-text-primary);

  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;

  transition: color 0.2s ease;
}

@media (max-width: 1024px) {
  .technologies__group-content {
    display: flex;
    flex-direction: column;
  }
}