.projects-page {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container {
  max-width: 768px;
  width: 100%;

  margin-inline: auto;
  margin-top: var(--header-height);
  padding-inline: 16px;
}