.nav-container {
  display: flex;

  align-items: center;
  justify-content: start;
  gap: 8px;
}

.nav-container__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 11px 7px;

  border-radius: var(--control-corner-radius);
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: var(--control-faster-duration) linear background-color;
}

.nav-container__button:hover {
  background-color: var(--subtle-fill-secondary);
}

.nav-container__button-icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.nav-container__button-text {
  position: relative;
  display: inline-block;
  font-weight: 400;
}

.nav-divider {
  margin-inline: 8px;
  block-size: 30px;
  border-inline-start: 1px solid var(--header-color-border);
}

.button-selected {
  background-color: var(--subtle-fill-secondary);
  color: var(--accent-text-primary);
}

@media (max-width: 1024px) {
  .nav-container__button {
    display: none;
  }

  .nav-divider {
    display: none;
  }
}