.contacts-page {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 768px;
  min-height: 100svh;

  margin-inline: auto;

  gap: 16px;
}

.contacts-page__title {
  text-align: center;
}

.contacts-page__contacts {
  display: flex;
  flex-direction: column;

  gap: 8px;
}
