.contacts-page {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 768px;
  min-height: 100svh;

  margin-inline: auto;

  gap: 16px;

  padding: var(--spacing-default);
}

.contacts-page__title {
  text-align: center;

  font-weight: 600;

  margin-top: 16px;
}

.contacts-page__contacts {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

@media (max-width: 480px) {
  .contacts-page {
    padding-top: var(--header-height);
  }
}