.sidebar-nav {
  width: 326px;

  border-right: 1px solid var(--header-color-border);
}

.sidebar-nav__header {
  padding: 16px 40px;

  gap: 16px;

  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--header-color-border);
}

.sidebar-nav__link-icon {
  transform: translateY(1px);
}

.sidebar-nav__list {
  display: flex;
  flex-direction: column;

  padding: 8px;
  list-style: none;
  gap: 2px;
}

.sidebar-nav__home {
  display: flex;

  text-decoration: none;
  color: var(--header-color-text);
}

.sidebar-nav__link {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.sidebar-nav__link-text {
  font-weight: 400;
}