.product__description {
  padding: var(--spacing-default);
  align-items: center;
}

.product__description-text {
  font-size: 16px;
}

.product__header-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-primary);
}