.header {
  height: var(--header-height);

  background-color: var(--color-bg-header);
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--header-color-border);

  backdrop-filter: blur(30px) saturate(100%);

  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  column-gap: 16px;

  padding: 0 40px;
  box-sizing: border-box;

  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
}

.header > * {
  min-width: 0;
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr auto;
    padding: 0 24px;
  }

  .header > .action-container {
    display: none;
  }
}
