.button--accent {
  background-color: var(--accent-default);
  border-color: var(--control-stroke-on-accent-default);
  border-bottom-color: var(--control-stroke-on-accent-secondary);
  color: var(--text-on-accent-primary);
}

.button--accent:hover {
  background-color: var(--accent-secondary);
}

.button--accent:active {
  background-color: var(--accent-tertiary);
  border-color: transparent;
  color: var(--text-on-accent-secondary);
}