.button--accent {
  background-color: var(--accent-default);
  border-color: var(--button-border-on-accent);
  border-bottom-color: var(--button-border-bottom);
  color: var(--text-on-accent-primary);
}

.button--accent:hover {
  background-color: var(--accent-secondary);
}

.button--accent:active {
  background-color: var(--accent-tertiary);
  border-color: transparent;
  color: var(--text-on-accent-secondary);
}