.workspace {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
}

.workspace__header {
  position: static;
  width: 100%;
}

.workspace__body {
  display: flex;
  min-height: 0;
}

.workspace__content {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding: 40px;
}

.workspace__content-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(500px, 720px) minmax(220px, 1fr);
  column-gap: 80px;
}

.workspace__heading-link {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--header-color-border);
}