.heading-link {
  display: inline-flex;
  gap: 8px;

  align-items: center;

  font-size: 36px;
  font-weight: 600;

  text-decoration: none;

  color: var(--color-text-primary);
}

.heading-link:hover {
  text-decoration: underline;
}

.heading-link__icon {
  width: 22px;
  height: 22px;

  transform: translateY(4px);
}