.contact-button {
  display: flex;
  margin-left: auto;

  inline-size: 34px;
  block-size: 34px;

  align-items: center;
  justify-content: center;

  background-clip: padding-box;
  color: var(--color-text-secondary);
  border-radius: 4px;

  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--subtle-fill-secondary);
}

.contact-button__icon {
  inline-size: 18px;
}

.contact-button.button-selected {
  background-color: var(--subtle-fill-secondary);
  color: var(--color-accent);
}