.service-section {
  padding: var(--spacing-default);
}

.header-chip {
  display: inline-flex;
  margin-block-end: 8px;
  padding: 4px 16px;

  background-color: var(--subtle-fill-secondary);
  color: var(--color-text-secondary);

  border-radius: 50px;
  font-weight: 600;
  line-height: 18px;
  user-select: none;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.service-card {
  min-height: 128px;

  flex-direction: column;
  gap: 16px;
}

.service-card__name {
  font-size: 18px;
  font-weight: 600;

  color: var(--color-text-primary);
}

.service-card__description {
  font-size: 14px;
  font-weight: 400;

  color: var(--color-text-tertiary);
}

.service-cards__divider {
  margin-bottom: 24px;
}