.product-marquee-wrapper {
  padding: 40px;
}

.product-item {
  flex: 0 0 auto;

  padding: 14px 24px;
  background-color: #ececec;
  border-radius: 18px;

  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.product-marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  cursor: grab;
  user-select: none;
  touch-action: pan-y;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    black 80px,
    black calc(100% - 80px),
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    transparent 0,
    black 80px,
    black calc(100% - 80px),
    transparent 100%
  );
}

.product-marquee.is-dragging {
  cursor: grabbing;
}

.product-marquee-track {
  display: flex;
  width: max-content;
  will-change: transform;
}

.product-marquee-group {
  display: flex;
  gap: 24px;
  padding-right: 24px;
}