.project-card {
  margin-block: 24px;

  border: 1px solid var(--header-color-border);
  border-radius: 4px;

  background-color: var(--solid-background-tertiary);
}

.project-card__eyebrow {
  padding: 16px 16px 0 16px;

  color: var(--color-text-tertiary);

  font-size: 12px;
  font-weight: 600;
}

.project-card__header {
  padding: 16px 16px 0 16px;

  font-size: 20px;
}

.project-card__link {
  color: var(--accent-text-primary);
  text-decoration: none;
}

.project-card__link:hover {
  text-decoration: underline;
}

.project-card__repo-owner {
  font-weight: 400;
}

.project-card__repo-name {
  font-weight: 600;
}

.project-card__menu {
  display: block;

  padding-inline: 16px;
  margin-top: 16px;
  margin-bottom: -1px;
}

.project-card__tabs {
  display: flex;
  gap: 4px;
}

.project-card__tab {
  padding-inline: 8px;
  padding-block: 4px;

  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  border-bottom: 0;

  line-height: 2;
  font-size: 12px;
  color: var(--color-text-tertiary);

  cursor: pointer;
}

.project-card__tab:hover {
  color: var(--color-text-secondary);
}

.project-card__tab--selected {
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  border-color: var(--header-color-border);
}

.project-card__tab--selected:hover {
  color: var(--color-text-primary);
}

.project-card__body {
  background-color: var(--color-bg);
  border-top: 1px solid var(--header-color-border);
  border-right: 1px solid var(--header-color-border);
  border-radius: 0 4px 0 4px;
}

.project-card__description {
  padding: 16px;

  color: var(--color-text-secondary);

  font-size: 14px;
}

.project-card__meta {
  color: var(--color-text-secondary);

  border-top: 1px solid var(--header-color-border);
  padding: 16px;

  font-size: 12px;
}

.project-card__preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card__preview-image {
  width: 100%;
  display: block;
  object-fit: cover;
}