.project-card {
  margin-block: 24px;

  border: 1px solid var(--header-color-border);
  border-radius: 4px;

  background-color: var(--solid-background-tertiary);

  overflow: hidden;
}

.project-card__eyebrow {
  padding: 16px 16px 0 16px;

  color: var(--color-text-tertiary);

  font-size: 12px;
  font-weight: 600;
}

.project-card__header {
  display: flex;

  padding: 16px 16px 0 16px;

  font-size: 20px;
}

.project-card__icon {
  color: var(--color-text-tertiary);

  height: 18px;
  width: 18px;

  margin-right: 8px;
  margin-top: 6px;
}

.project-card__link {
  color: var(--accent-text-primary);
  text-decoration: none;
}

.project-card__link:hover {
  text-decoration: underline;
}

.project-card__repo-owner {
  font-weight: 400;
}

.project-card__repo-name {
  font-weight: 600;
}

.project-card__menu {
  display: block;

  padding: 16px 16px 0 16px;
  margin-bottom: -1px;

  overflow-x: auto;
  overflow-y: hidden;
}

.project-card__tabs {
  display: flex;
  gap: 4px;
  width: max-content;
}

.project-card__tab {
  display: inline-flex;
  align-items: center;

  background-color: transparent;
  padding-inline: 8px;
  padding-block: 4px;

  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  border-bottom: 0;

  line-height: 2;
  font-size: 12px;
  color: var(--color-text-tertiary);

  font-family: inherit;

  cursor: pointer;

  user-select: none;
}

.project-card__tab-icon {
  height: 14px;
  width: 14px;
}

.project-card__tab-title {
  margin-inline-start: 8px;
  font-weight: 500;

  transform: translateY(-1px);
}

.project-card__tab:hover {
  color: var(--color-text-secondary);
}

.project-card__tab--selected {
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  border-color: var(--header-color-border);
}

.project-card__tab--selected:hover {
  color: var(--color-text-primary);
}

.project-card__body {
  background-color: var(--color-bg);
  border-top: 1px solid var(--header-color-border);
  border-right: 1px solid var(--header-color-border);
}

.project-card__description {
  padding: 16px 16px 0 16px;

  color: var(--color-text-secondary);

  font-size: 14px;
}

.project-card__tags {
  display: flex;
  flex-wrap: wrap;

  gap: 4px;

  padding: 8px 16px 16px 16px;
}

.project-card__tag {
  padding-inline: 10px;
  line-height: 22px;

  background-color: var(--accent-muted);
  color: var(--accent-text-primary);

  font-size: 12px;
  font-weight: 500;

  border-radius: 24px;

  cursor: default;
}

.project-card__tag:hover {
  color: var(--text-on-accent-primary);
  background-color: var(--accent-default);
}

.project-card__meta {
  display: flex;

  color: var(--color-text-secondary);

  border-top: 1px solid var(--header-color-border);
  padding: 16px;

  list-style: none;

  font-size: 12px;
}

.project-card__release-date {
  margin-right: 24px;

  font-size: inherit;
}

.project-card__preview {
  margin: 16px;
}

.project-card__preview-image {
  display: block;
  width: 100%;
  border: 1px solid var(--header-color-border);
}